body, ul,li,p{
    margin:0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;

}

a {
    text-decoration: none;
    color: white;
}
 
.header{
    background: #1d1e20;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}

ul > div{
    align-items: center;
    max-width: 120px;
    margin-left: 40px;
}

a > div{
    margin-left: 40px;
    margin-top: 20px;
    font-variant: small-caps;
    color: black
}

h1 {
    text-align: center;
    margin-top: 100px;
}
.voltar{
    margin-bottom: 10px;
}
.quadrao{
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 70% 30%;

}
.quadro1{
    display: flex;
    align-items: center;
    margin: auto 0 auto auto;
    background-size: cover;
    
}
.quadro2{
    display: grid;
    margin: 0 auto;
    background:  white;
    border-color: gray;
    height: auto;
    width: 500px;
}
.contato{
    font-variant: small-caps;
    font-size: 30px;
    color: rgb(5, 5, 2);
    text-align: right;
    margin: auto 85px auto auto;
    border-right:yellowgreen;
}

.horarios{
    font-variant: small-caps;
    font-size: 15px;
}
.corpo_horarios{
    margin: 0 auto;
    text-align: right;
    justify-items: auto;
}

img {
    max-width: 100%;
    display: block;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 20px;
}
