body, ul,li,p{
    margin:0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;

}

a {
    text-decoration: none;
    color: white;
}
 
.header{
    background: #1d1e20;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}
ul > div{
    align-items: center;
    max-width: 120px;
    margin-left: 40px;
}
#background{
    width: 100vw; /* view width 100% da largura da tela*/
    height: 100vw; /*view height 100% da altura da tela*/
    background: url('../img/backprincipal.jpg');
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
    color: black;
}
img {
    max-width: 100%;
    display: block;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 20px;
}

/* CSS FLEXBOX 1 */
.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex > div{
    flex: 1 1 200px;
    margin:10px;

}